* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-image: url('./background1.jpg');
  background-size: cover;
  background-position: center;
}

.square {
  background: #ffffffa0;
  border: 2px solid #e2da5b;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7ce57df;
  border-radius: 8px;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
}

.game-info {
  margin-left: 20px;
}

.board-container {
  margin-bottom: 20px; /* Add some space between the board and buttons */
}

.buttons {
  display: flex;
  flex-direction: row; /* Arrange buttons vertically */
  align-items: center; /* Center buttons horizontally */
}

.buttons button {
  margin: 20px; /* Add some space between the buttons */
  margin-left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 25px;
}

.button:hover {
  background-color: #d7ce57df;
}

.button:active {
  background-color: #d7ce57df;
}

.button:focus {
  outline: none; 
  box-shadow: 0 0 10px #ffffff; 
  background-color: #d7ce57df;
}