* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background-image: url('./background1.jpg');
  background-size: cover;
  background-position: center;
}

.square {
  background: #ffffffa0;
  border: 2px solid #e2da5b;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:hover {
  background-color: #d7ce57df; 
  filter: brightness(90%);
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d7ce57df;
  border-radius: 8px;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}

.clueCompleted {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0e774;
  border-radius: 8px;
  margin: 5px;
  font-weight: bold;
  font-size: 20px;
}

.clue div {
  margin: 2px
}

.clueCompleted div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.colClues .clueCompleted {
  flex-direction: column;
}


.game {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.game-info {
  margin-left: 20px;
}

.board-container {
  margin-bottom: 20px; 
}

.buttons {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.buttons button {
  margin: 20px; 
  margin-left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  font-size: 25px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d7ce57df;
}

.button:active {
  background-color: #d7ce57df;
}

.button:focus {
  outline: none; 
  box-shadow: 0 0 10px #ffffff; 
  background-color: #d7ce57df;
}

.buttons button.active {
  background-color: #d7ce57df; 
}

.buttons button:hover {
  background-color: #d7ce57df; 
}

.buttons button:focus {
  outline: none; 
  box-shadow: 0 0 10px #ffffff; 
  background-color: #d7ce57df; 
}

.square {
  background: rgba(255, 255, 255, 0.233);
  border: 1px solid rgba(126, 150, 236, 0.61);
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square.bloque {
  border: 1px solid rgba(126, 150, 236, 0.61);
  background-image: url(bateria.png);
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}

.square.cruz {
  border: 1px solid rgba(126, 150, 236, 0.61);
  background-image: url(clave.png);
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
}
